    <%- include('header') -%>

    <h1> <%= listTitle %> </h1>
    <div class="container">
        <ul>
            <% for (var i=0; i<newListItems.length; i++) { %>
            <li><button type="submit" name="delItem" class="btn-delete">-</button></a> <%= newListItems[i] %> </li>
            <% } %>
        </ul>
    
        <form action="/" class="" method="post">
            <input type="text" name="newItem" id="" class="input" autocomplete="off">
            <button type="submit" value="<%= listTitle %>" name="list " class="btn-success">+</button>
        </form>
    </div>
    
    <%- include('footer') -%>